---
---

@import "{{ site.theme }}";
h1 {
  font-size: 26px
}
body {
  background-color: #f2f2f2;
}

a,a:hover,a:focus {
  color: #8028B4;
}

hr {
  background:#F2D338;
  height:1px
}

.b, .language-console highlight, .language-terminal highlight {
  color: #F2F2F2;
  background:#0C0C0C;
}

.g, .g1 {
  color: #F2F2F2;
  background:#727272;
}

.g2 {
  color: #CCCCCC;
  background:#000000;
}
