---
---

@import "{{ site.theme }}";
h1 {
  font-size: 26px
}
body {
  background-color: #f2f2f2;
}

a,a:hover,a:focus {
  color: #8028B4;
}

hr {
  background:#F2D338;
  height:1px
}

.b,
.language-console .highlight,
.language-console code,
.language-terminal .highlight,
.language-terminal code {
  color: #F2F2F2;
  background: #0C0C0C;
}

.language-console .gp {
  color: lightgreen;
}

.language-terminal .gp {
  color: dimgray
}

.highlight code .nb {
  color: inherit
}

.g,.g1 {
  color: #F2F2F2;
  background: #727272;
}

.g2 {
  color: #CCCCCC;
  background: #000000;
}
